<div class='sign-up-details'>
  <%= link_to root_path do %>
    <%= image_tag 'back.png' %>
  <% end %>
  <h2 class='center-text'>Sign up</h2>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class='form-container'>
    <div class='field'>
      <%= f.label :firstname %>
      <%= f.text_field :firstname, autofocus: true, autocomplete: "firstname" %>
    </div>

    <div class='field'>
      <%= f.label :surname %>
      <%= f.text_field :surname, autocomplete: "surname" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: 'in-out' %>
    </div>
  </div>
<% end %>

<div class='center-text top-gap'>
  <%= render "devise/shared/links" %>
</div>
