<div class='new-container'>
  <div class='sign-up-details'>
    <%= link_to category_details_path do %>
      <%= image_tag 'back.png', class: 'back' %>
    <% end %>
    <h2 class='center-text'>Add a transaction</a>
  </div>

  <%= form_with url: category_details_path(params[:category_id]), scope: :detail do |form| %>
    <div class='form-container'>
      <div class='field'>
        <%= form.label :name %>
        <%= form.text_field :name, autofocus: true, placeholder: 'Enter transaction name here...' %>
      </div>

      <div class='field'>
        <%= form.label :amount %>
        <%= form.number_field :amount, placeholder: 'Enter amount for the transaction...' %>
      </div>

      <div class="actions">
        <%= form.submit "Add", class: 'in-out' %>
      </div>
    </div>
  <% end %>
</div>